body {
  margin: 0;
  padding: 0;
  background-color: rgb(214, 230, 245);
  font-family: Arial, Helvetica, sans-serif;
}

.menuClose,
.menuOpen {
  display: block;
  height: 5px;
  width: 50px;
  margin: 0.3rem;
  background-color: white;
  transition: ease 0.5s;
}

.menuOpen:nth-child(1) {
  transform: translate3d(0, 10px, 0) rotateZ(45deg);
}
.menuOpen:nth-child(2) {
  opacity: 0;
}
.menuOpen:nth-child(3) {
  transform: translate3d(0, -10px, 0) rotateZ(-45deg);
}

nav button:focus {
  outline: none;
  box-shadow: none;
}


/* Nav Bar*/

nav h2{
  text-align: center;
  font-size: 4rem;
  display: inline-block;
  width: 100%;
}

nav ul a{
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.3rem;
}

/* Register Page */

.Registration h1 {
  text-align: center;
}

form {
  text-align: center;
}

select,
label {
  font-size: 1.2rem;
  display: inline-block;
  width: 12rem;
  margin: 5px;
  text-align: left;
}

input{
  text-align: center;
}

form button{
  margin-top: 10px;
}

.validate-show{
  color:red;
  
}

.validate-hidden{
  display: none;
}

.Registration h6{
  text-align: center;
}

/* Home Page */

.Home h1{
  text-align: center;
}

.Home h3{
  margin-left: 3%;
}

.Home div{
  margin-left: 4%;
  margin-right: 4%;
}

.accordion-item{
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

.accordion-item span{
  float: right;
  }

.accordion-body{
  overflow-x: auto;
}

table{
  border-collapse: collapse;
}

td, th{
  border: 1px solid black;
  padding: 5px;
}